spacy==3.7.2
confection==0.1.4
# Pinned for compatibility with vllm==0.3.0 and fastchat
vllm==0.3.0
torch==2.1.2
torchvision==0.16.2
xformers==0.0.23.post1
transformers==4.37.2
fschat
ray
openai>=1.25.1
anthropic
mistralai
google-generativeai
google-cloud-aiplatform
sentence_transformers==2.6.1
matplotlib
accelerate
datasketch
pandas
art  # for ArtPrompt
tenacity  # for ArtPrompt
boto3
bpe